{% extends 'base-template.html' %}
{% block content %}
{% load static %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
        <h1>The Thatix Recipe <span>Community</span></h1>
    </div>
</section><!-- End Hero -->
<main id="main">
    <marquee attribute_name="attribute_value" ....more attributes style="color: #ea4989;">
        <span style="font-weight: 700;">Tips: </span><span>   {% for data in tips %} >>>{{data.name}}{% endfor %}</span>
    </marquee>
    <section class="py-5">
        <div class="container">
            <div class="row">
    <!--             <div class="col-md-3">
                    <div class="supliers-left">
                        <div class="filter-menu">
                            <div class="accordion" id="faq">
             
                            </div>
                        </div>
                    </div>
                </div> -->
                  {% if messages %}
  {% for message in messages %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger alert-dismissible" style="text-align: left;">
      <a href="#" class="close" data-bs-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
      <strong>{{message}}</strong>
    </div>

    {% else %}

    <div class="alert alert-success alert-dismissible" style="text-align: left;">
      <a href="#" class="close" data-bs-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
      <strong>{{message}}</strong>
    </div>
    {% endif %}

  {% endfor %}
{% endif %}
                <div class="col-md-12">
      
                    <div class="row g-3">
                           <h2>Upload Recipe</h2>
                        <div class="row g-4">
                         
                                <form class="mt-4" method='POST' enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row g-4">
                            <div class="col-md-6">
                                <label>Recipe Name</label>
                                <input class="form-control" type="text" name="name" required />
                            </div>
                            <div class="col-md-6">
                                <label>Photo upload</label>
                                <input class="form-control" type="file" name="photo" required />
                            </div>
                            <div class="col-md-6">
                                <label>Tutorial Video</label>
                                <input class="form-control" type="file" name="video" required />
                            </div>
                            <div class="col-md-6">
                                <label>Category</label>
                                <select class="form-select" aria-label="Default select example" name="category">
                                    {% for data in categories %}
                                    <option value="{{data.id}}" selected>{{data.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label>Description</label>
                                <textarea class="form-control h-150" name='description' required /></textarea>
                            </div>
                            <div class="col-md-12">
                                <button type='submit' class="btn btn-danger">Submit</button>
                            </div>
                        </div>
                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
{% endblock %}